.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 30vmin;
}

img:hover {
    cursor: pointer;
}

.col {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

html{

  background-color: #282c34;
}
.App-header {

  color: white;
}

.col {  
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lista{
  background-color: #5c667b;

  min-height: 100vh;
}

table, h3{
  margin: 4em;
}

th{
  padding-bottom: 2em;
}


img {
  padding-top: 8em;
}